
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-center{
    text-align: center;
}
.secoundary-background{
    background-color:rgba(255, 248, 243, 1) ;
}
.text-primary{
    color: rgba(253, 110, 10, 1);
}
.dark-2{
    color: rgba(71, 71, 71, 1);
}
.btn-primary{
    background-color:rgba(253, 110, 10, 1);
    color:white;
    border: none;
    font-weight: bold;
    font-size: 20px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 35px;
    border-radius: 5px;
}
.header{
    background-image: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    background-color: rgba(255, 248, 243, 1);
}

/* nav styling */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
   
}
.banner-greetings{
    font-size: 45px;
    font-weight:600;
    color:rgba(71, 71, 71, 1);
}
.banner-title{
    font-size: 85px;
    font-weight:bold;
    color:rgba(24, 24, 24, 1);
}
.banner-description{
    font-size: 18px;
}
.banner-content{
    max-width:580px ;
    /* margin-left: 302px; */
    margin: 130px 160px 180px 71px;
}
.banner-profile{
    width: 580px;
}


.section-title{
    font-weight: bold;
    font-size: 35px;
    color: rgba(24, 24, 24, 1);
}
.section-description{
    color: rgb(117, 117, 117);
    font-size: 18px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    


}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.item-description{
    font-weight: 600;
    font-size: 20px;
    color: rgba(71, 71, 71, 1);
}
.item-title{
    color:rgba(117, 117, 117, 1);
    font-size: 20px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px  rgba(0, 0, 0, 0.06);
    border-radius: 5px;

}
.reasume-container{
    display: flex;
    gap: 24px;
    
}
.sectio-title{
   text-align: center; 
   font-size: 35px;
   font-weight: bold;
}
.experence-sub-title{
    color: rgba(117, 117, 117, 1);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

}

.experence-description {
    color: rgba(117, 117, 117, 1);
}
.resume-colum-title{
    font-size: 30px;
    font-weight: bold;
}
.resume hr{
    margin: 30px;
}
.btn-align{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 113px;

}
/* footer */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;


}
.footer-column{
    width: 50%;
}
footer [type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}